*,
::before,
::after {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  background-color: #eee7e7;
  color: #201e1e;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.footer-logo {
  width: 14rem;
  height: 12rem;
  padding-top: 1rem; }

@media (max-width: 768px) {
  .footer-logo {
    width: 15rem; } }

@media (max-width: 400px) {
  footer {
    font-size: 0.8rem; } }

.home-header-image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../img/main-header.jpg");
  z-index: 5;
  background-size: cover;
  width: 100%;
  height: 75vh; }

.home-header__text-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #eeeee3;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease; }

.home-header__text-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.8rem;
  color: yellow;
  animation: 2s ease 0s normal forwards 1 moveInRight;
  opacity: 1; }

.home-header__text-3 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #eceae5;
  font-family: helvetica;
  display: block;
  width: 100%;
  text-align: center;
  animation: 3s ease 0s normal forwards 1 fadeIn;
  opacity: 1; }

.pro-done {
  animation: 4s ease 0s normal forwards 1 fadeIn;
  opacity: 1; }

.about-header-image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../img/main-header2.jpg");
  z-index: 5;
  background-size: cover;
  height: 75vh; }

.about-header__text-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #eeeee3;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease; }

.about-header__text-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.8rem;
  color: yellow;
  animation-name: moveInRight;
  animation: 3s ease 0s normal forwards 1 fadeIn;
  opacity: 1; }

#services-header {
  position: relative; }

.services-header-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../img/services-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50px;
  height: 75vh; }

.services-header__text-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #f0e8e0;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease; }

.services-header__text-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.8rem;
  color: yellow;
  animation: 2.5s ease 0s normal forwards 1 fadeIn;
  opacity: 1; }

@media (max-width: 960px) {
  .home-header__text-1,
  .about-header__text-1,
  .services-header__text-1 {
    width: 100vw;
    text-align: center;
    font-size: 2.2rem; }
  .home-header__text-2,
  .about-header__text-2,
  .services-header__text-2 {
    font-size: 1.5rem;
    top: 62%;
    width: 100vw;
    text-align: center; }
  .home-header-image {
    background-position: -100% 0; }
  .home-header__text-3 {
    top: 78%; } }

@media (max-width: 768px) {
  .home-header-image {
    background-position: -100% 0; } }

@media (max-width: 500px) {
  .about-header-image {
    background-position: -500px 0;
    background-size: cover; } }

@media (max-width: 350px) {
  .home-header__text-1,
  .about-header__text-1,
  .services-header__text-1 {
    font-size: 1.5rem; }
  .home-header__text-2,
  .about-header__text-2,
  .services-header__text-2 {
    font-size: 1rem; } }

.navbar {
  background-color: white; }

.navbar-logo {
  width: 6rem;
  margin-left: 3rem; }

.navbar-pro,
.navbar-con {
  font-size: 1.5rem;
  margin-left: 1rem; }

.nav-item {
  position: relative;
  margin: 1rem; }

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 3px;
  background-color: #f1cf8f;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.nav-item:hover::before, .nav-item--active::before {
  transform: scaleY(1);
  width: 100%; }

.nav-item:active::before {
  background-color: #f1cf8f; }

.nav-link {
  color: #1f1919 !important; }

.nav-link:link, .nav-link:visited {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: .5rem 3rem;
  position: relative;
  z-index: 10;
  font-family: arial;
  display: flex;
  align-items: center; }

.nav-under {
  border-bottom: 3px solid rgba(255, 153, 0, 0.9);
  color: rgba(255, 153, 0, 0.9) !important; }

@media (max-width: 960px) {
  .navbar-logo {
    width: 4rem;
    margin: 0; }
  .navbar-pro,
  .navbar-con {
    font-size: 1rem; }
  .nav-item {
    font-size: 1rem; } }

@media (max-width: 768px) {
  .navbar-pro,
  .navbar-con {
    font-size: 1rem;
    margin-left: 0; }
  .navbar {
    height: 7rem; }
  .navbar-logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); }
  .navbar-pro {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%); }
  .navbar-con {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%); }
  .navbar-toggler {
    position: fixed;
    right: 1rem; }
  .navbar-collapse,
  .navbar-expand {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1; }
  .navbar-nav {
    background-color: white;
    width: 100vw; }
  .nav-item {
    margin: 0;
    padding: 1rem 0; }
  .nav-link {
    color: #080808 !important; }
    .nav-link:hover {
      background-color: rgba(255, 153, 0, 0.9);
      width: 100vw; }
  .nav-under {
    color: #e4e2eb !important;
    background-color: rgba(255, 153, 0, 0.9) !important; } }

.social-bottom {
  color: white;
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social-bottom a {
  color: white; }

@media (max-width: 768px) {
  .social-bottom {
    font-size: .8rem; }
  .social-bottom .fa-facebook-official {
    font-size: 1.2rem; }
  .social-bottom .fa-instagram {
    font-size: 1.2rem; }
  .social-bottom .fa-youtube {
    font-size: 1.2rem; } }

@media (max-width: 350px) {
  .social-bottom {
    font-size: .5rem; } }

#approach {
  background-image: linear-gradient(rgba(250, 245, 245, 0.1), rgba(250, 245, 245, 0.3)), url("../img/building1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.approach-left {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.approach-header1 {
  font-size: 3rem;
  color: #8181d8;
  margin-left: 3%; }

.approach-header2 {
  font-size: 3rem;
  color: #8181d8;
  margin-left: 3%; }

.approach-text {
  font-size: 1.1rem;
  margin-left: 3%; }

.approach__box-info {
  border: 2px solid rgba(175, 175, 211, 0.3);
  margin-top: 0.5rem; }

.approach-image {
  width: 15rem;
  height: 15rem;
  float: left;
  border-radius: 100%;
  shape-outside: circle();
  margin: 2rem 1rem 2rem 1rem; }

.approach__box-text {
  margin: 1rem; }

@media (max-width: 1000px) {
  .approach-header1 {
    font-size: 2.5rem; }
  .approach-header2 {
    font-size: 2.5rem; }
  .approach-text {
    font-size: 1.1rem; }
  .approach__box-info {
    border: 2px solid rgba(175, 175, 211, 0.3);
    margin-top: 5%; }
  .approach-image {
    width: 10rem;
    height: 10rem; }
  .approach__box-text {
    margin: 1rem;
    font-size: 0.9rem; } }

@media (max-width: 768px) {
  .approach-header1 {
    font-size: 2rem; }
  .approach-header2 {
    font-size: 2rem; }
  .approach-text {
    font-size: 1rem; }
  .approach-right {
    margin-top: -1rem; } }

@media (max-width: 500px) {
  .approach__box-text {
    line-height: 1.3; }
  .approach-left {
    text-align: center; } }

@media (max-width: 360px) {
  .approach-text {
    margin: 1rem 0;
    padding: 0 0.5rem; } }

@media (max-width: 350px) {
  .approach-text {
    margin: 1rem 0;
    padding: 0 0.5rem; } }

.company-cards {
  border: none; }

.growth {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/mission.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 1rem;
  border: none;
  margin: 0; }

hr {
  background-color: white;
  width: 10rem; }

.company-header {
  font-size: 1.6rem;
  font-family: "Arial Black"; }

.company-text {
  color: #e2dcdc;
  font-size: 1rem;
  line-height: 1.5; }

.experience {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/experience.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 1rem; }

.leadership {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/leadership.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 1rem;
  border: none; }

.mission-background {
  background-image: url("../img/backIcon.png");
  background-repeat: no-repeat; }

.mission-header {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 5px;
  padding-top: 1rem; }

.mission-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.mission-text {
  text-align: center;
  margin-top: 2%;
  padding-right: 20px;
  padding: 0 5rem; }

.mission-text p {
  margin-right: 10px;
  color: #000; }

@media (min-width: 1900px) {
  .mission-background {
    background-image: none; } }

@media (max-width: 1100px) {
  .mission-background {
    background-image: url("../img/backIcon.png");
    background-repeat: no-repeat; }
  .mission-header {
    text-align: center; }
  .mission-text {
    text-align: center;
    margin-top: 2%;
    padding: 0 2rem; }
  .mission-text p {
    padding-right: 15px; } }

@media (max-width: 850px) {
  .mission-header {
    padding-top: 0; }
  .mission-text {
    margin-top: -0.5%; } }

@media (max-width: 800px) {
  .mission-info {
    padding: 0 1rem; } }

@media (max-width: 768px) {
  .mission-background {
    background-image: url("../img/backIcon.png"); }
  .mission-text {
    text-align: center;
    margin-top: -2%;
    font-size: 1.3rem;
    padding-top: 1rem; }
  .mission-icon-text {
    display: none; }
  .mission-text p {
    margin-right: 0; } }

@media (max-width: 600px) {
  .mission-text {
    font-size: 1.2rem; } }

@media (max-width: 500px) {
  .mission-text {
    font-size: 1rem; } }

@media (max-width: 400px) {
  .mission-text {
    font-size: 0.9rem; } }

.serv-heading {
  margin-bottom: 2%; }

.serv-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #111010;
  height: 3rem;
  font-family: Impact;
  margin: 0 10% 0 10%;
  letter-spacing: .5rem; }

.serv-header__text-bg {
  background-size: cover;
  background-position: -50px 0;
  padding-top: 1%; }

.serv-header__text {
  text-align: center;
  font-size: 1rem;
  margin: 0% 8% 0 8%;
  padding: 1% 2% 2% 2%;
  font-family: Helvetica;
  color: #292525; }

.serv-card {
  color: white;
  margin-bottom: .5rem !important; }

.serv-text {
  color: white;
  font-family: Verdana;
  line-height: 1.5; }

.btn-orange {
  background-color: #dd9510;
  color: white; }
  .btn-orange:hover {
    background-color: #a87412; }

.membrane {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/membrane.jpg");
  background-size: cover; }

.serv-title {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #070707;
  text-transform: uppercase; }

.crystalline {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/crystalline.jpg");
  background-size: cover; }

.grout {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/grout.jpg");
  background-size: cover; }

.shotcrete {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/shotcrete.jpg");
  background-size: cover; }

.lead-abatement {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/lead-abatement.jpg");
  background-size: cover; }

.concrete-formwork {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/concrete-formwork.jpg");
  background-size: cover; }

.curb {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/curb.jpg");
  background-size: cover; }

.fireproofing {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/fireproofing.jpg");
  background-size: cover; }

.asbestos {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/asbestos.jpg");
  background-size: cover; }

#contact-form {
  margin-top: 7%; }

.contact-section {
  padding: 0 !important; }

.contact-background {
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.9));
  height: 80vh;
  margin-top: 10vh; }

.contact-image {
  background-image: url("../img/contact.jpg");
  background-size: cover;
  height: 90vh; }

@media (max-width: 768px) {
  #contact-form {
    margin-top: 15%; } }

@media (max-width: 600px) {
  #contact-form {
    margin-top: 20%; } }

@media (max-width: 500px) {
  #contact-form {
    margin-top: 28%; } }

@media (max-width: 350px) {
  #contact-form {
    margin-top: 35%; } }

.container-story {
  position: relative; }

.story-header-main {
  position: absolute;
  top: 20%;
  left: 65%;
  transform: translateX(-50%);
  height: 10rem;
  width: 35rem;
  border: 2px solid black; }

.story-header-main2 {
  position: absolute;
  top: 19.5%;
  left: 65%;
  transform: translateX(-50%);
  height: 10.5rem;
  width: 35.2rem;
  background-color: white;
  border-radius: 2rem; }

.story-heading {
  position: absolute;
  top: 25%;
  left: 65%;
  transform: translateX(-50%);
  z-index: 5;
  font-size: 3rem; }

.story-img {
  margin-top: 1rem;
  margin-left: 10%; }

.story-text--p {
  margin: 4% 15% 4% 15%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2; }

@media (max-width: 1100px) {
  .story-img {
    width: 25%; }
  .story-heading {
    top: 10%; }
  .story-header-main {
    top: 5%;
    width: 25rem; }
  .story-header-main2 {
    top: 4.5%;
    width: 25.2rem; } }

@media (max-width: 900px) {
  .story-heading {
    top: 9%;
    font-size: 2.4rem; }
  .story-header-main {
    top: 5%;
    height: 8rem;
    width: 20rem; }
  .story-header-main2 {
    top: 3.5%;
    height: 9rem;
    width: 20.2rem; }
  .story-text--p {
    font-size: 1rem; } }

@media (max-width: 650px) {
  .story-heading {
    top: 7%;
    font-size: 2rem; }
  .story-header-main {
    top: 5%;
    height: 6rem;
    width: 17rem; }
  .story-header-main2 {
    top: 5%;
    height: 6rem;
    width: 17.2rem; }
  .story-text--p {
    font-size: 1rem;
    line-height: 1.5; } }

@media (max-width: 500px) {
  .story-heading {
    top: 7%;
    font-size: 1.5rem; }
  .story-header-main {
    top: 6%;
    height: 4rem;
    width: 13rem; }
  .story-header-main2 {
    top: 5%;
    height: 4.5rem;
    width: 13.2rem; }
  .story-text--p {
    margin: 4% 2% 4% 2%;
    font-size: 0.9rem;
    line-height: 1.2; } }

@media (max-width: 400px) {
  .story-heading {
    top: 6%;
    font-size: 1rem; }
  .story-header-main {
    top: 5%;
    height: 3rem;
    width: 10rem; }
  .story-header-main2 {
    top: 3%;
    height: 4rem;
    width: 10.5rem; }
  .story-text--p {
    margin: 4% 2% 4% 2%;
    font-size: 0.9rem;
    line-height: 1.2; } }

@media (max-width: 300px) {
  .story-heading {
    top: 5.5%;
    font-size: 0.9rem; }
  .story-header-main {
    top: 4%;
    height: 3rem;
    width: 7rem; }
  .story-header-main2 {
    top: 4%;
    height: 3rem;
    width: 7.2rem; }
  .story-text--p {
    margin: 4% 2% 4% 2%;
    font-size: 0.9rem;
    line-height: 1.2; } }
